.myAccount {
  ul {
    margin-left: 0;
    padding: 8px;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 13px 10px;
      cursor: pointer;

      &:last-of-type {
        margin-top: 10px;
        color: rgb(223, 4, 4);
      }

      &:hover {
        background: rgb(239, 244, 245);
      }
    }
  }
}
