.myAddress {
  margin-top: 20px;
  padding: 10px;

  .content {
    display: flex;
    gap: 20px;

    .newAddress {
      width: 100%;
    }

    .defaultAddress {
      width: 100%;
      max-width: 500px;
    }

    table {
      margin-top: 5px;
      th {
        display: flex;
        align-items: left;
        min-width: 100px;
      }
      th,
      td {
        padding: 5px 0;
      }
    }

    .btnUpdate {
      display: flex;
      justify-content: right;
      margin: 25px 5px 0;
    }
  }

  h2 {
    margin: 15px 0 30px;
  }
  p {
    margin-bottom: 10px;
  }

  .card {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 40px;

    .select {
      width: 100%;
      border: none;
      padding: 7px;
    }
  }
}
