.cart {
  margin-bottom: 30px;
  padding: 0 30px;
  h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 15px;
  }

  .cart-header {
    padding: 0 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background: hsl(0, 0%, 97%);
  }

  .cart-header-info {
    width: 100%;
    padding: 10px 30px;
    background: hsl(0, 0%, 97%);
  }

  .cart-header-price,
  .cart-header-quantity,
  .cart-header-total {
    width: 160px;
    text-align: center;
    background: hsl(0, 0%, 97%);
    padding: 10px;
  }

  .cart-header-action {
    background: hsl(0, 0%, 97%);
    width: 50px;
  }

  .cart-list {
    display: flex;
    width: 100%;
    padding: 15px;
    border: 1px solid lightgray;
    margin-bottom: 10px;

    .cart-list-info {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 20px;

      .product-info {
        text-align: left;
        & > p {
          font-size: 13px;
        }
      }
    }

    .cart-list-price,
    .cart-list-quantity,
    .cart-list-total {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      padding: 10px;
    }

    .cart-list-action {
      width: 50px;
    }
  }

  .addComment {
    margin: 20px 0;
    h6 {
      font-size: 14px;
      margin: 10px 0;
    }
    textarea {
      font-size: 13px;
      padding: 3px 10px;
      max-width: 700px;
      width: 100%;
    }
  }
}
