$bubble-diameter: 22px;
.headerMobileMarge {
  height: 50px;

  @media screen and (min-width: 1023px) {
    display: none;
  }
}

.headerMobile {
  display: none;
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  box-shadow: 5px 0 5px rgba($color: #000000, $alpha: 0.2);
  z-index: 99;

  .container {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 1.5rem;

    .logo {
      cursor: pointer;
      img {
        width: 170px;
      }
    }

    .iconGroup {
      display: flex;
      gap: 2rem;
      > *:hover {
        cursor: pointer;
      }

      .cart {
        position: relative;
        .bubble {
          position: absolute;
          top: -5px;
          right: -9px;
          background: black;
          height: $bubble-diameter;
          width: $bubble-diameter;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            color: white;
            font-size: 13px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: block;

    .container {
      padding: 0 1rem 0 0.7rem;

      .logo img {
        width: 100%;
        max-width: 150px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .container {
      padding: 0 0.8rem 0 0.5rem;

      .iconGroup {
        gap: 1rem;
      }
    }
  }

  @media screen and (max-width: 300px) {
    .container {
      .iconGroup {
        gap: 7px;
      }
    }
  }
}
