.auth {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .img {
    width: 100%;
    max-width: 400px;
    animation: slide-down 0.5s ease;

    img {
      width: 100%;
    }
  }

  .card {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slide-up 0.5s ease;

    h2 {
      text-align: center;
      font-size: 24px;
      color: var(--color-secondary);
      font-weight: 600;
      margin: 10px 0 20px 0;
    }

    p {
      font-size: 13px;
      color: gray;
    }

    form {
      .marketing {
        margin-top: 15px;
        label {
          margin-left: 10px;
          font-size: 13px;
        }
      }

      button {
        margin-top: 15px;
      }
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 767px) {
    .img {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    padding: 20px 7px 40px 7px;

    .card {
      padding: 15px 7px;
    }
  }
}
