.categories {
  padding: 25px 20px 40px 20px;
}

.categoriesPage {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  margin: 15px 0 35px 0;
}

h2 {
  margin-bottom: 30px;
}

.search {
  padding: 9px 12px;
}
