.cart {
  margin-bottom: 30px;
  padding: 0 30px;

  h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 15px;
  }

  .cartWrap {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;

    @media screen and (max-width: 1150px) {
      display: block;
    }
  }

  .cartItems {
    width: 100%;

    .cart-header {
      padding: 0 15px;
      margin-bottom: 15px;
      display: flex;
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      background: hsl(0, 0%, 97%);
    }

    .cart-header-info {
      width: 100%;
      padding: 10px 30px;
      background: hsl(0, 0%, 97%);
    }

    .cart-header-price,
    .cart-header-quantity,
    .cart-header-total {
      min-width: 100px;
      text-align: center;
      background: hsl(0, 0%, 97%);
      padding: 10px;
    }

    .cart-header-quantity {
      min-width: 120px;
    }

    .cart-header-action {
      background: hsl(0, 0%, 97%);
      min-width: 50px;
    }

    @media screen and (max-width: 767px) {
      .cart-header-quantity,
      .cart-header-total,
      .cart-header-action {
        display: none;
      }
    }

    @media screen and (max-width: 430px) {
      .cart-header-info {
        padding-left: 10px;
      }

      .cart-header-price {
        display: none;
      }
    }

    .cart-list {
      display: flex;
      width: 100%;
      padding: 15px;
      border: 1px solid lightgray;
      margin-bottom: 10px;

      .cart-list-info {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        gap: 10px;

        .img {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100px;
          }
        }

        .product-info-wrap {
          .product-info-mobile {
            display: none;
          }
          @media screen and (max-width: 550px) {
            .product-info-mobile {
              display: block;
            }
            .cart-list-price {
              display: none;
            }
            .cart-list-quantity-wrap {
              display: flex;
              align-items: center;
              gap: 5px;
              margin-top: 10px;
            }
          }

          @media screen and (max-width: 430px) {
            .cart-list-price {
              display: block;
              font-size: 15px;
              font-weight: 600;
              margin-top: 10px;
            }

            .cart-list-quantity-wrap {
              margin-top: 5px;
            }
          }
        }

        .product-info {
          text-align: left;
          & > p {
            font-size: 13px;
          }
        }
      }

      .cart-list-price-wrap {
        display: flex;

        .cart-list-price,
        .cart-list-quantity,
        .cart-list-total,
        .cart-list-action {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 100px;
          padding: 5px;
          font-size: 15px;
          font-weight: 500;
        }

        .cart-list-quantity {
          min-width: 120px;
        }

        .cart-list-action {
          min-width: 50px;
          cursor: pointer;
        }

        @media screen and (max-width: 550px) {
          .cart-list-quantity,
          .cart-list-action {
            display: none;
          }

          .cart-list-price {
            min-width: auto;
          }
        }
      }

      @media screen and (max-width: 767px) {
        .cart-list-info {
          padding-left: 5px;
        }
        .cart-list-price-wrap {
          display: block;
          .cart-list-total {
            display: none;
          }
          .cart-list-price,
          .cart-list-quantity,
          .cart-list-action {
            justify-content: right;
          }
        }
      }

      @media screen and (max-width: 430px) {
        .cart-list-price-wrap {
          .cart-list-price {
            display: none;
          }
        }
      }

      @media screen and (max-width: 350px) {
        .cart-list-info {
          display: block;

          .img img {
            width: 100%;
            max-width: 200px;
          }
        }
      }
    }

    .addComment {
      margin: 30px 0;
      h6 {
        font-size: 14px;
        margin: 10px 0;
      }
      textarea {
        font-size: 13px;
        padding: 10px 10px;
        max-width: 700px;
        width: 100%;
        border-radius: 15px;
      }
    }

    .trust {
      margin-top: 15px;
      .secure {
        display: flex;
        align-items: center;
        p {
          margin-left: 10px;
          font-size: 13px;
          color: gray;
        }
      }

      img {
        width: 100%;
        max-width: 400px;
        margin-top: 15px;
      }
    }
  }

  .orderSummary {
    width: 100%;
    max-width: 400px;

    .orderWrap {
      width: 100%;
    }

    p {
      font-size: 13px;
      color: gray;
    }

    h6 {
      padding-bottom: 12px;
      font-weight: 600;
      font-size: 14px;
      border-bottom: 3px solid #000;
      margin-bottom: 25px;
    }

    @media screen and (max-width: 1150px) {
      max-width: 100%;
      margin-top: 40px;
      display: flex;
      gap: 30px;

      .orderWrap {
        width: 100%;
      }

      .checkout {
        width: 100%;
      }
    }

    @media screen and (max-width: 650px) {
      display: block;
    }
  }

  .subTotal,
  .total {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;

    p {
      font-size: 15px;
      font-weight: 600;
      color: #000;
    }
  }

  .total {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;

    p {
      font-size: 16px;
      color: #000;
    }
  }

  .shippingEstimate,
  .coupon {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 10px;
    }

    .countries {
      width: 100%;
      padding: 5px;
      padding-left: 10px;
      border: 1px solid lightgray;
      border-radius: 35px;
      margin-bottom: 15px;
      transition: all 0.5s;
      outline: 1px solid transparent;

      select {
        border: none;
        padding: 7px;
        width: 97%;
        outline: 1px solid transparent;
        cursor: pointer;
      }

      &:hover {
        outline: 1px solid lightgray;
      }
    }

    p {
      color: gray;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }

  .checkout {
    padding: 10px 0;

    form {
      padding: 15px 0;
      input {
        margin-right: 10px;
        margin-bottom: 15px;
        cursor: pointer;
        outline: 2px solid transparent;
        transition: outline 0.5s;

        &:hover {
          outline: 2px solid rgba($color: #01c8ff, $alpha: 0.3);
        }
      }
      label {
        font-size: 13px;
        cursor: pointer;
        a {
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 500px) {
    padding: 0 10px;
  }
}

.quantityHandler {
  width: 100px;
  height: 48px;
  border: 1px solid lightgray;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;

  & > button:first-of-type,
  & > button:last-of-type {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 1px solid transparent;
    font-size: 17px;
    font-weight: 500;
  }

  & > button:first-of-type {
    right: 7px;
  }

  & > button:last-of-type {
    left: 7px;
  }

  label {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
}
