.home {
  position: relative;
  .img,
  .imgMobile {
    margin: 25px 0;
    img {
      width: 100%;
    }
  }

  .imgMobile {
    display: none;
  }

  .topPageBtn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 45px;
    height: 42px;
    width: 42px;
    background: rgba($color: #51c2ff, $alpha: 0.6);
    border-radius: 50%;
    border: 2px solid #fff;
    padding-bottom: 1px;
    z-index: 99;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background: rgba($color: #34a1dc, $alpha: 1);
      transform: scale(1.05);
    }

    @media screen and (max-width: 1023px) {
      visibility: hidden;
    }
  }
  @media screen and (max-width: 767px) {
    .img {
      display: none;
    }
    .imgMobile {
      display: block;
    }
  }
}
