.quantity {
  width: 100px;
  height: 48px;
  border: 1px solid lightgray;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;

  button:first-of-type,
  button:last-of-type {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 1px solid transparent;
    font-size: 17px;
    font-weight: 500;
  }

  button:first-of-type {
    right: 7px;
  }

  button:last-of-type {
    left: 7px;
  }

  label {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
}
