.loginMenu {
  padding: 10px 20px;

  form {
    label {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  p {
    display: block;
    text-align: center;
    color: var(--color-text);
    margin: 10px 0;
    text-decoration: underline;
    cursor: pointer;
  }
}
