$horizontal-position: 20%;
$vertical-position: 50%;
$minus-horizontal-position: -20%;
$minus-vertical-position: -50%;

.hero {
  position: relative;
  .largeImg {
    display: block;
    img {
      width: 100%;
      min-height: 350px;
    }
  }
  .mobileImg {
    display: none;
    min-height: 200px;
  }

  .titles {
    position: absolute;
    width: 400px;
    top: $vertical-position;
    left: $horizontal-position;
    transform: translate($minus-horizontal-position, $minus-vertical-position);
    color: white;

    h1 {
      font-size: 45px;
      font-weight: 700;
      line-height: 60px;
      span {
        color: turquoise;
      }
    }

    p {
      margin: 25px 0;
      font-size: 17px;
    }

    a {
      display: block;
      border-radius: 27px;
      padding: 15px;
      margin: 10px 0;
      font-weight: 500;
      background: transparent;
      border: 1px solid white;
      color: white;
      width: 130px;
      transition: all 0.5s;
      text-align: center;

      &:hover {
        background: #ffffff1c;
        transform: scale(1.05);
      }
    }
  }

  @media screen and (max-width: 1023px) {
    $horizontal-position: 10%;
    $minus-horizontal-position: -10%;

    .titles {
      width: 220px;
      left: $horizontal-position;
      h1 {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        span {
          color: turquoise;
        }
      }

      p {
        margin: 15px 0;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .largeImg {
      display: none;
    }
    .mobileImg {
      display: block;
      img {
        width: 100%;
        min-width: 300px;
      }
    }

    .titles {
      left: 20px;
      transform: translate(0, $minus-vertical-position);
    }
  }
}

.affirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  padding: 10px;
  flex-wrap: wrap;

  p {
    padding-top: 5px;
    margin: 0 15px;
    text-align: center;
  }

  button {
    background: none;
    border: 1px solid var(--color-text);
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 600;
    margin: 5px;
  }

  @media screen and (max-width: 767px) {
    // flex-direction: column;
  }
}
