.checkoutDetails {
  padding: 25px 30px;

  h2 {
    margin: 20px 0;
  }

  .input {
    margin-top: 5px;
  }

  label {
    font-weight: 500;
    padding-left: 10px;
  }

  .container {
    display: flex;
    gap: 15px;

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  .address {
    width: 100%;
  }
}

.checkout {
  padding: 30px 0;
  display: flex;
  gap: 15px;
}

.card {
  width: 100%;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.12);
  margin-bottom: 10px;
  height: 100%;

  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: var(--color-blue);
    color: #fff;
    font-weight: 500;
    font-size: 15px;

    &:hover {
      background: rgb(63, 63, 226);
    }
  }
}
