.search {
  background: white;
  width: calc(100% - 780px);
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin: 5px;

  input {
    width: 100%;
    font-size: 16px;
    background: none;
    padding-left: 1.2rem;
    border: none;
    outline: none;
  }

  input {
    &::placeholder {
      color: gray;
      transition: all 0.4s;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  .icon {
    width: 40px;
    display: flex;
  }

  .icon:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 1120px) {
    .search {
      width: calc(100% - 650px);
    }
  }
}
