.featuredBrands {
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
  }
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgb(238, 238, 238);
}
