@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Poppins";
  --color-primary: #ffc324;
  --color-secondary: #161880;
  --color-blue: rgb(94, 94, 241);
  --color-lightblue: rgba(112, 112, 238, 0.708);
  --color-red: #e10600;
  --color-darkblue: #11111a;
  --color-lightgray: #e8e8e8;
  --color-light-border: rgb(181, 179, 179);
  --color-btn-blue: rgb(60, 60, 249);
  --color-text: rgb(55, 55, 55);
  --color-socialMedia: rgb(86, 86, 86);
  --color-blue-verified: #019eeb;
}

p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.--align-center {
  display: flex;
  align-items: center;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.--btn {
  width: 100%;
  border-radius: 27px;
  padding: 15px;
  margin: 10px 0;
  font-weight: 500;
}

.--rounded {
  width: 100%;
  border-radius: 27px;
  padding: 11px 15px;
  margin: 4px 0 11px;
}

.--light-border {
  border: 1px solid lightgray;
}

.--white-border {
  border: 1px solid white;
}

.--input-theme {
  background: none;
  border: none;
  outline: none;
  padding-left: 5px;
  color: var(--color-text);
  width: 100%;

  &::placeholder {
    color: gray;
    transition: all 0.3s;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.--container {
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .--container {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .--container {
    width: 100%;
    padding: 0 10px;
  }
}

.accordion-item {
  border: 1px solid lightgray;
}

.accordion-button {
  background-color: var(--color-lightgray);
}

.accordion {
  --bs-accordion-bg: var(--color-lightgray);
}

.form-item {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 5px 7px;
  border: 1px solid lightgray;
  outline: 1px solid transparent;
  border-radius: 5px;
  transition: outline 0.5s;
}

.form-item:hover {
  outline: 1px solid lightgray;
}

/** pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  margin: 0 auto;
  border-right: 1px solid lightgray;
}

.pagination li {
  margin: 0;
  padding: 6px 12px;
  border: 1px solid lightgray;
  border-right: none;
  font-size: 15px;
  font-weight: 500;
}

.pagination li :hover {
  font-weight: 600;
  text-decoration: none;
}

.pagination .selected {
  background: var(--color-blue);
  color: #fff;
}

.pagination .disabled {
  opacity: 0.5;
}

.pagination .disabled :hover {
  cursor: default;
  text-decoration: none;
  font-weight: 400;
}

._1Lxpd {
  width: 100% !important;
  padding: 8px;
  height: auto !important;
}

._30Ipg {
  width: 100% !important;
  background: none !important;
}
