.admin {
  display: flex;
  background-color: #f8f9fc;

  .navWrap {
    width: 100%;
    max-width: 250px;
    min-height: calc(100vh - 50px);
    background-color: #4e73df;
    padding: 15px;
    padding-right: 0;

    .icon {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 18px 0 30px;

      .adminIcon {
        font-size: 32px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
      }
    }

    h6 {
      font-size: 13px;
      font-weight: 600;
      color: #ffffff7b;
    }

    .navItem {
      color: #ffffffb2;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 13px 0;
      cursor: pointer;

      .navItem-icon {
        font-size: 19px;
      }

      &:hover {
        color: #fff;
      }
    }

    .active {
      color: #fff;
      position: relative;
      font-weight: 500;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        height: 80%;
        width: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: #fff;
      }
    }
  }

  hr {
    border-top: 1px solid lightgray;
  }

  @media screen and (max-width: 1024px) {
    .navWrap {
      padding: 8px;
      padding-right: 8px;
      width: 100%;
      max-width: 110px;
      min-width: 110px;
      .icon {
        .adminIcon {
          font-size: 38px;
        }

        p {
          display: none;
        }
      }
    }
    h6 {
      text-align: center;
    }
    .navItem {
      flex-direction: column;
      justify-content: center;
      gap: 7px !important;

      p {
        font-size: 12px;
        font-weight: 300;
      }

      .navItem-icon {
        font-size: 24px;
      }
    }
    .active {
      p {
        font-weight: 500 !important;
      }

      &::before {
        display: none;
      }
    }
  }

  @media screen and (max-width: 630px) {
    .navWrap {
      max-width: 40px;
      min-width: 40px;
    }
    h6 {
      display: none;
    }
    .navItem {
      gap: 7px !important;

      p {
        display: none;
      }

      .navItem-icon {
        font-size: 24px;
      }
    }
    .active {
      p {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }
}
